<h1>Банлист - [<%= @banlist.name %>]</h1>

<table>
  <% unless @banlist.addrs.empty? %>
      <%= will_paginate @addrs %>
      <table class="addrs" summary="Banlist urls">
        <tr>
          <th>URL</th>
        </tr>
        <% @addrs.each do |addr| %>
            <tr>
              <td><%= addr.name %></td>
            </tr>
        <% end %>
      </table>
      <%= will_paginate @addrs %>
  <% end %>
</table>
