<table>
<tr>
  <th>Имя банлиста</th>
  <th>Количество urls записей</th>
  <th>Количество pcre записей</th>
</tr>
  <% Banlist.all.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.addrs.all.length %></td>
        <td><%= item.pcres.all.length %></td>
      </tr>
  <% end %>
</table>