<h1>Список банфайлов</h1>

<table>
  <tr>
    <th><strong>Имя</strong></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @banlists.each do |banlist| %>
      <tr>
        <td><%= banlist.name %></td>
        <td><%= link_to 'Просмотр', banlist %></td>
        <td><%= link_to 'Изменить', edit_banlist_path(banlist) %></td>
        <td><%= link_to 'Удалить', banlist, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
  <% end %>
</table>