<header>
  <nav class="round">
    <ul>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'List all users', list_path %></li>
      <li><%= link_to 'New user', new_path %></li>
    </ul>
  </nav>
</header>
